<!DOCTYPE html>
<html>
<head>
  <title>Dnd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= link_to "Add New Character", new_character_path %>
  <%= link_to "Character List", characters_path %>
  <%= link_to "Character Search", search_path %>
</head>
<body>

<%= yield %>

</body>
</html>
